
body {
   text-align: center;
}

table {

  background: linear-gradient(to right,rgb(5, 139, 0),rgb(27, 0, 27));
    width: 50vh;
    height: 50vh;
    border-radius: 5%;
    margin: auto;

  

    

  }
  h1 {

    font-weight:1500;
    font-size:xx-large
    
  }
  tr {
   display: grid;
    grid-template-columns: repeat(7,1fr);
    height: 16.6%;
    content: "";
   
    }
 .ilumina:hover + .iluminado{
        background-color: rgb(0, 0, 0);
    }


 button {

   border-radius: 15px;
   height: 5vh;
   width: 50vh;
   font-size: 20px;

 }

.starHidden {
display: none;
}
.starRed {
  fill: red;
  stroke: black; 
  stroke-width: 6px;
}
.starBlue{
  fill: blue;
  stroke: black; 
  stroke-width: 6px;
}



.win {
  content: '';
  font-size: 50px;
  position: relative;
  text-align: center;
  margin: auto;
  padding: auto;
}
    



 
